{% extends "main/wrapper.html" %}

{% block content %}

{% include "main/includes/header.html" %}

<section>
	<div class="register">
		<div class="content">
			<form action="{% url 'register' %}" method="POST">{% csrf_token %}
				<div class="name">
					<input name="account_name" type="text" placeholder="Имя">
					<input name="account_surname" type="text" placeholder="Фамилия">
				</div>
				<div class="login_password">
					<input name="login" type="text" placeholder="Логин">
					<input name="password" type="password" placeholder="Пароль">
					<input name="password_repeat" type="password" placeholder="Повторите пароль">
				</div>
				<div class="file_attach">
					<input name="account_pic" type="text" placeholder="URL изображения">
					<input type="button" value="Прикрепить файл">
					</div>
				<input id="account_register" type="submit" name="account_register" value="Зарегестрироваться">
			</form>
		</div>
	</div>
</section>

{% include "main/includes/footer.html" %}

{% endblock %}