{% block content %}
<div class="account_pic_url">{{account_pic}}</div>
<header>
	<menu>
		<div class="btns">
			<a href="{% url 'index' %}" class="menu_btn {% if page == 'main' %}active{% endif %}">Главная</a>
			<a href="{% url 'drivers' %}" class="menu_btn {% if page == 'drivers' %}active{% endif %}">Гонщики</a>
			<a href="{% url 'bets' %}" class="menu_btn {% if page == 'bets' %}active{% endif %}">Ставка</a>
			<a href="{% url 'races' %}" class="menu_btn {% if page == 'races' %}active{% endif %}">Гонки</a>
			<a href="{% url 'login' %}" id="profile" class="menu_btn {% if page == 'account_profile' %}active{% endif %}">Профиль</a>
		</div>
		<div class="profile"></div>
	</menu>
	{% if notification != False %}
		<div class="notification">
			<div class="info">
				<h1>
					Результаты первой гонки на Fiat 500 от CityBee
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, soluta! Aliquid recusandae itaque inventore aspernatur harum, alias, nihil accusamus sunt error, praesentium, ab ipsum commodi totam nisi voluptatibus modi at?
				</p>
			</div>
			<div class="img_border">
				<div class="img">
				</div>
			</div>
		</div>
	{% endif %}
	
</header>

{% endblock %}